body{
  margin: 10px;
  background-color: #000;
}
#bg{
  width: 100%;
}
#content{
  position: absolute;
  top: 65%;
  width: 100%;
  color: #FFF;
}
/*@media screen and (min-width: 480px) {
    #content {
      position: absolute;
      top: 20%;
      width: 100%;
    }
}*/

footer{
  padding: 0 10%;
}
